.searchBar {
	position: relative;

	min-width: 380px;
	max-width: 500px;

	width: 50%;

	min-height: 30px;
	max-height: 40px;
	height: 60%;
}

.searchLabel {
	width: 100%;
	height: 100%;
}

.icon {
	position: absolute;

	@include flex(row, xCenter, yCenter);

	top: 0;
	left: 0;

	margin-left: 11px;

	width: 10%;
	height: 100%;

	max-width: 24px;
}

.magnifier {
	color: $primary-default;

	width: 100%;

	max-height: 24px;
	height: 100%;

	z-index: 2;
}

.input {
	position: relative;

	width: 100%;
	height: 100%;

	border: 2px solid $primary-default;
	border-radius: 20px;

	background-color: $white;
	padding-inline: 40px;

	color: $black;

	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

	@include dynamicFontSize(18, 16, 14, 400);
}

.button {
	position: absolute;

	@include flex(row, left, yCenter);

	top: 0;
	right: 0;

	width: 36px;
	height: 100%;

	padding-right: 6px;
	padding-bottom: 1px;

	z-index: 2;
}

.camera {
	color: $primary-default;

	max-width: 24px;

	width: 100%;
	height: 24px;

	z-index: 2;
}

.dropZone {
	position: relative;

	width: 100%;
	height: 20vh;

	border-radius: 20px;

	@include flex(y, xCenter, bottom);

	background: rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	transition: all 0.3s ease-in-out;

	span {
		position: absolute;

		top: 10%;

		color: $black;

		@include dynamicFontSize(16, 14, 12, 300);
	}

	input {
		position: absolute;

		min-width: 120px;
		max-width: 200px;
		width: 50%;

		top: 40%;

		@include flex(row, xCenter, yCenter);

		color: $black;

		@include dynamicFontSize(16, 14, 14, 400);
	}
}

.searchButton {
	color: $black;

	width: 100%;
	height: 20%;

	background-color: $primary-default;

	opacity: 0.8;

	border-radius: 0px 0px 20px 20px;

	@include dynamicFontSize(16, 14, 14, 300);
}
