.searchBar {
	position: relative;

	max-width: 500px;

	min-height: 30px;
	max-height: 40px;
}

.searchLabel {
	width: 100%;
	height: 100%;

	@include flex(row, xCenter, yCenter);

	&:hover,
	&:focus,
	&:active {
		.input {
			border-color: rgba($primary-default, 0.8);
		}

		.magnifier {
			color: rgba($primary-default, 0.8);
		}
	}
}

.input {
	position: relative;

	width: 100%;
	height: 100%;

	border: 2px solid $primary-default;
	border-radius: 20px;

	background-color: $white;
	padding-inline: 40px;

	color: $black;

	box-shadow: 0 4px 10px rgba($black, 0.2);

	@include dynamicFontSize(18, 16, 14, 12, 400);

	outline: none;
}

.icon {
	position: absolute;

	@include flex(row, xCenter, yCenter);

	top: 0;
	left: 0;

	margin-left: 11px;

	width: 10%;
	height: 100%;

	max-width: 24px;
}

.magnifier {
	position: relative;

	color: $primary-default;

	width: 100%;

	max-height: 24px;
	height: 100%;

	z-index: 2;
}

.bard {
	position: absolute;

	top: 18%;
	left: 16%;
	// width: 20px;

	width: 60%;
	height: 60%;

	z-index: 2;
}

.button {
	position: absolute;

	@include flex(row, left, yCenter);

	top: 0;
	right: 0;

	width: 36px;
	height: 100%;

	padding-right: 6px;
	padding-bottom: 1px;

	z-index: 2;
}

.camera {
	color: $primary-default;

	max-width: 24px;

	width: 100%;
	height: 24px;

	z-index: 2;

	&:hover,
	&:focus,
	&:active {
		color: rgba($primary-default, 0.8);
	}
}

.dropZone {
	position: relative;

	width: 100%;
	min-height: 200px;
	height: 20vh;

	border-radius: 20px;

	z-index: 3;

	@include flex(y, xCenter, bottom);

	background: rgba($white, 0.2);
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba($black, 0.2);

	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

	transition: all 0.3s ease-in-out;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.fileInputButton {
		position: absolute;

		width: 40%;
		height: 20%;

		top: 50%;

		color: $black;
		background-color: $primary-default;

		opacity: 0.8;

		@include dynamicFontSize(16, 14, 14, 12, 300);

		padding: 10px;
		border-radius: 20px;
		box-shadow: 0 4px 10px rgba($black, 0.2);

		cursor: pointer;

		&:hover,
		&:focus,
		&:active {
			background-color: rgba($primary-default, 0.8);
		}

		@include MobileOnly {
			width: 60%;
		}
	}

	.fileInput {
		display: none;
	}

	.dropText {
		width: fit-content;

		color: $black;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@include dynamicFontSize(16, 14, 12, 10, 300);
	}

	.imagePreviewWrap {
		position: absolute;

		@include flex(y, xCenter, yCenter);

		top: 5%;

		width: fit-content;
		min-width: 80px;
		max-width: 100px;

		height: 80px;
	}

	.imagePreview {
		width: 100%;
		height: 100%;
	}
}

.searchButton {
	position: relative;

	color: $black;

	width: 100%;
	height: 24%;

	background-color: $primary-default;

	opacity: 0.8;

	border-radius: 0px 0px 20px 20px;

	@include dynamicFontSize(16, 14, 14, 12, 300);

	@include flex(x, xCenter, yCenter);

	&:hover,
	&:focus,
	&:active {
		background-color: rgba($primary-default, 0.8);
	}
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.loadingIconForText {
	position: absolute;

	right: 50px;

	border: 2px solid rgba($black, 0.2);
	border-top: 2px solid rgba($black, 0.4);
	border-radius: 50%;

	width: 20px;
	height: 20px;

	animation: spin 1s linear infinite;
}

.loadingIconForImage {
	position: absolute;

	top: 12px;

	border: 2px solid rgba($black, 0.2);
	border-top: 2px solid rgba($black, 0.4);
	border-radius: 50%;

	width: 20px;
	height: 20px;

	animation: spin 1s linear infinite;
}

.gemini {
	position: absolute;

	top: 100%;

	@include flex(x, xCenter);

	width: 100%;

	padding-top: 4%;

	span {
		height: 100%;

		@include dynamicFontSize(15, 13, 12, 10, 350);

		color: $white;

		margin-top: 0.2%;
		margin-left: -4%;
		margin-right: 1%;
	}

	.geminiIcon {
		height: fit-content;

		@include dynamicSize(width, 10%, 11%);
	}
}
