.search {
	@include flex(y, xCenter, top);

	width: 100vw;
	height: 100vh;

	overflow-y: scroll;

	background: linear-gradient(to bottom, $sky-default 3%, $sky-light 55%, $sky-dark 90%);

	::-webkit-scrollbar {
		display: none;
	}

	.background {
		position: relative;

		display: flex;

		top: 0;
		bottom: 0;

		width: 100%;
		height: 100%;

		overflow: hidden;

		object-position: bottom;
		touch-action: none;
		pointer-events: none;

		// z-index: 1;
	}

	.max {
		width: 100%;
		max-width: 1200px;

		padding-inline: 20px;

		.header {
			width: 100%;
			height: 80px;

			@include flex(x, left, yCenter);

			padding-inline: 10px;
			padding-block: 20px;

			z-index: 1;

			.loogle {
				width: fit-content;
				height: 50px;

				@include flex(x, left, yCenter);
				@include dynamicFontSize(24, 24, 24, 700);

				margin-right: 20px;

				color: $white;

				z-index: 2;
			}

			.searchBarArea {
				width: 60%;

				height: 100%;
			}
		}

		.content {
			width: 100%;

			padding: 20px;

			background: rgba($white, 0.08);
			border-radius: 20px;
			box-shadow: 0 4px 30px rgba($black, 0.08);

			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
		}

		.wrap {
			width: 100%;
			height: fit-content;

			@include flex(-x, wrap-reverse, xCenter, top);

			overflow-y: scroll;

			.space {
				width: 210px; // 기본 너비 설정
				height: auto;
				aspect-ratio: 3/4;

				@include flex(y, yCenter);

				flex-grow: 1;
				flex-shrink: 0; // 요소의 축소를 방지

				padding: 14px;

				// border: 1px solid #b2bec3;

				.item {
					position: relative;

					width: 100%;
					height: auto;
					aspect-ratio: 3/4;

					padding: 14px;

					// border: 1px solid #b2bec3;
					border-radius: 20px;
					text-align: center;

					overflow: hidden;
					object-fit: cover;

					@include flex(y, bottom);

					.link {
						width: 100%;
						height: 100%;

						.img {
						}
					}

					.title {
						position: absolute;

						top: 8px;

						width: 90%;
						height: fit-content;

						@include flex(x, xCenter);
						@include dynamicFontSize(16, 15, 14, 500);

						text-shadow: 0 1px 1px rgba($black, 0.3);

						span {
							width: 90%;

							color: $black;

							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}

					.info {
						position: relative;

						width: 100%;
						height: 40%;

						.details {
							position: absolute;

							left: 0;
							bottom: 0;

							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;

							@include flex(y, left, top);

							span {
								text-shadow: 0 1px 1px rgba($black, 0.4);
								white-space: normal;

								color: $black;

								@include dynamicFontSize(14, 13, 12, 300);
							}
						}

						.ratio {
							position: absolute;

							background: rgba($white, 0.4);
							border-radius: 20px;
							box-shadow: 0 4px 4px rgba($black, 0.4);

							backdrop-filter: blur(10px);
							-webkit-backdrop-filter: blur(10px);

							width: fit-content;
							height: fit-content;
							padding: 10px;

							border-radius: 14px;

							color: #ff4631;

							@include dynamicFontSize(20, 18, 16, 700);

							right: 0;
							bottom: 0;
						}
					}
				}
			}
		}
	}
}
