.search {
	@include flex(y, xCenter, top);

	width: 100vw;
	height: 100vh;

	overflow-y: scroll;

	background: linear-gradient(to bottom, $sky-default 3%, $sky-light 55%, $sky-dark 90%);

	::-webkit-scrollbar {
		display: none;
	}

	.background {
		position: relative;

		display: flex;

		top: 0;
		bottom: 0;

		width: 100%;
		height: 100%;

		overflow: hidden;

		object-position: bottom;
		touch-action: none;
		pointer-events: none;

		// z-index: 1;
	}

	.max {
		width: 100%;
		max-width: 1200px;

		padding-inline: 20px;

		.header {
			width: 100%;
			height: 80px;

			@include flex(x, left, yCenter);

			padding-inline: 10px;
			padding-block: 20px;

			z-index: 1;

			.loogle {
				width: fit-content;
				height: 50px;

				@include flex(x, left, yCenter);
				@include dynamicFontSize(24, 24, 24, 700);

				margin-right: 20px;

				color: $white;

				z-index: 2;
			}

			.searchBarArea {
				width: 60%;

				height: 100%;
			}
		}

		.content {
			width: 100%;

			padding: 20px;

			background: rgba($white, 0.08);
			border-radius: 20px;
			box-shadow: 0 4px 30px rgba($black, 0.08);

			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
		}

		.wrap {
			width: 100%;
			height: fit-content;

			@include flex(-x, wrap-reverse, xCenter, top);

			overflow-y: scroll;
		}
	}
}
